:root { 
--red_700:#ed1c24; 
--red_600:#ed342b; 
--amber_500_01:#fbbc04; 
--blue_A200:#4285f4; 
--red_500:#eb4335; 
--red_400:#ed4a4a; 
--black_900_3f:#0000003f; 
--green_600:#34a853; 
--gray_50:#f8f8f8; 
--amber_A400:#ffc600; 
--green_400:#72d063; 
--black_900:#000000; 
--yellow_800:#f79e1b; 
--blue_gray_700:#515666; 
--blue_gray_900:#1f264f; 
--red_A700:#ff0000; 
--black_900_4c:#0000004c; 
--gray_700:#5f6368; 
--gray_900_26:#1c1c1c26; 
--gray_400:#b0aeae; 
--blue_gray_100:#d9d9d9; 
--red_600_01:#e62d2a; 
--blue_700:#2790c3; 
--blue_gray_400:#8897a2; 
--amber_500:#fbbc05; 
--blue_gray_300:#9ca0ab; 
--orange_A700:#ff5f00; 
--gray_900:#111111; 
--amber_700:#fea500; 
--blue_gray_500:#5f7586; 
--gray_200:#e7e7e7; 
--gray_300:#e6e6e6; 
--gray_300_01:#dcdee5; 
--gray_100:#f3f3f3; 
--gray_900_3f:#1c1c1c3f; 
--blue_gray_700_b2:#515666b2; 
--indigo_800_19:#2f477b19; 
--white_A700_01:#ffffff; 
--blue_gray_700_5a:#5156665a; 
--indigo_900:#27346a; 
--cyan_900:#03435f; 
--red_A700_01:#eb001b; 
--white_A700:#fefefe; 
--red_500_01:#ea4335; 
--gray_700_01:#666666; 
}